page-home {

    .box-produtos {
        background-repeat: no-repeat; background-position: center; height: 320px;
    }   

    .box-produtos-button {
        position: relative; margin:0 auto; text-align: center; width: 175px; height: 320px;
    }

    .box-produtos-comprar {
        width: 175px; height: 35px; margin:0 auto; background: red; position: absolute; bottom: 5px; cursor: pointer;
    }
    
}
